* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(240, 239, 238);
}

.container {
  display: flex;
  height: 500px;
  width: 500px;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.title-container{
  /* background-color: blue; */
  margin: 60px auto;
}

.points-container{
  display: flex;
  margin-bottom: 50px;
  /* background-color: green; */
  width: 250px;
  justify-content: space-between; 
}

.points-container .point-box {
  text-align: center;
  font-size: 28px;
}

.winner-container {
  margin-bottom: 30px;
  font-size: 40px;
  color: rgb(66, 146, 90);
}


.choices-container {
  display: flex;
  /* background-color: blue; */
  justify-content: space-around;
  width: 350px;
}

.choices-container .choice {
  height: 60px;
  width: 60px;
}